/* rotate y punto de origen */
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif
}

.container{
  border: 1px solid blueviolet;
}

.container:hover .cuadrado{
  /* transform-origin: 50% 50% default */
  /* transform-origin: right; */
  transform-origin: bottom right;
  /* transform: rotate(45deg);*/
  /*transform: rotate(-45deg);*/
  /* transform: rotateX(45deg);  */
  /* transform: rotateY(-45deg); */
  /* transform: rotateZ(-45deg); */
  /* transform: rotate3d(x,y,z,grados) */
  transform: rotateZ(-90deg)
}

.cuadrado{
  width: 200px;
  height: 200px;
  background: #7dc900;
  margin: 20px;
  transition: .3s;
}
